<%= form_for(@graph) do |f| %>
<p class="label label-primary">Week Name</p><br>
<%= f.text_field :title %>
</p>
<p class="label label-primary">Sales</p><br>
<%= f.number_field :sales %>	
</p>
<p class="label label-primary">Sales Goal</p><br>
<%= f.number_field :sales_goal %>	
</p>
<p>
<%= f.submit %>
</p>
<% end %>