<div class="row">
  <div class="col-md-12">
     <% if user_signed_in? %>
    <div class="row">
      <div class="col-md-8" id="left">
        <div class="jumbotron">
          <div class="jumbotron-contents">
            <h1>Your Total Sales</h1>
            <p>
            <div id="highChartContainer" style="min-width: 450px; height: 450px; margin: 0 auto"></div>

            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4" id="right">
        <div class="jumbotron">
          <div class="jumbotron-contents">
              <%= link_to "Add New Sales", new_graph_path, class: "btn btn-small btn-rounded" %><br>
              <h1>Past Weekly Sales Stats</h1>
              <p>
                <% @graphs.each do |graph| %>
                <div class="container">
                  <h3><strong><%= graph.title %></strong></h3>
                  <i>Submitted On:</i>
                  <%= (graph.created_at) %>
                  <br><br>
                  <strong>Sales Goal:</strong>
                  <%= number_to_currency(graph.sales_goal) %>
                  <br>
                  <span class="<%= graph_status(graph.sales) %>">
                  <strong>Actual Sales:</strong>
                  <%= number_to_currency(graph.sales) %>
                  <br>
                  <strong>Difference:</strong>    
                  <%= number_to_currency(graph.difference) %>
                  <br>
                  <strong>Closing Ratio:</strong>    
                  <%= number_to_percentage(graph.ratio, precision: 0) %>    
                  <br><br>
                  <b>How You Did:</b>
                  <%= sales_success(graph) %> 
                  <br>
                  <%= link_to "See More", graph_path(graph) %>            
                  <hr></span>                 
                  <% end %>  
                </p>
            </div>
          </div>
        </div>    

        </div>
      </div>
    </div>
 


         <% else %>
          <%= render 'layouts/home' %>
  </div>
</div>   
<% end %>



<script type='text/javascript'>
    chart = new Highcharts.Chart({
    chart: {
        renderTo: 'highChartContainer',
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false
    },
    xAxis: {
    title: { text: 'Week' },
    },

    yAxis: {
    title: { text: 'Dollars' },
    },

    title: {
        text: ''
    },
    series: [{
      name: "Sales",
      type: 'line',     
      data: <%= @charts.map do |chart|
    [chart.sales.to_f]
    end.to_json.html_safe %>
    },
    {
      name: "Goal",
      type: 'line',     
      data: <%= @charts.map do |chart|
    [chart.sales_goal.to_f]
    end.to_json.html_safe %>
    }]
  });
</script>
