<%= render 'layouts/header' %>

<div class="row">
  <div class="col-md-5">
    <div class="jumbotron">
      	<div class="jumbotron-contents">
      		<div class="row">
	      		<div class="col-md-6">
		          <h1><strong><%= @graph.title %> Sales</strong></h1>
		          <h2>
		          <div class="label label-primary">Sales Goal:&nbsp&nbsp&nbsp&nbsp&nbsp</div>
		          <br><br>
		          <div class="label label-primary">Actual Sales:&nbsp&nbsp</div>
		          <br><br>
		          <div class="label label-primary">Difference:&nbsp&nbsp&nbsp&nbsp&nbsp</div>
		          <br><br>
		          <div class="label label-primary">Closing Ratio:</div>
		          </h2> 
	    		</div>

		    	<div class="col-md-6">
				<h1><strong><br></strong></h1>
		          <h2>
		          <%= number_to_currency(@graph.sales_goal) %>
		          <br><br>
		          <%= number_to_currency(@graph.sales) %> 
		          </h2> 
		          <br><br><br>
		          <%= link_to "Edit", edit_graph_path, class: "btn btn-small btn-info" %>
		        </div>  
	     	</div>
	    </div>
	</div>
  </div>	

  <div class="col-md-7">
    <div class="jumbotron">
      <div class="jumbotron-contents">
          <h1><strong>Graph Of Sales</h1>
          <br>
          <br>
          <br>
          <br>   
      </div>
    </div>
  </div>

</div>
