<body>
<div id="headerSection">
	<div class="container">
		
	    <div class="span3 logo">
	    <%= image_tag 'homepage/logo1.png' %>
		</div>
		
		<div class="navbar">
			<button class="pull-right ddbtn" id="toggle-btn"><%= image_tag 'homepage/drop-down.png' %></button>
            <div id="menu" class="nav-collapse">
				<ul class="nav mynav">
					<li><a href="#meetourteamSection">Features</a></li>
					<li><a href="#contactSection">Contact</a></li>
            <li><a href="/users/sign_in">Login</a></li>
				</ul>
			</div>
			
		</div>
	</div>
</div>	
<!--Header Ends================================================ -->

<div id="carouselSection" class="cntr"> 
		<div id="myCarousel" class="carousel slide">
		
			<div class="carousel-inner">
				<div class="item active">
					<a class="cntr" href="#"><%= image_tag 'homepage/1.png' %> 
				</div>
				
				<div class="item">
					<a class="cntr" href="#"><%= image_tag 'homepage/1.png' %> 
				</div>
				
				
			</div>
			<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>
</div>

<!-- Sectionone block ends======================================== -->

<!-- Our Services======================================== -->
<div id="ourServices"> 	
<div class="container">	
				<div class="row">
                
      <div class="col-md-4 col-xs-12">
      
      <div class="info-img">
        <%= image_tag 'homepage/img-1.png' %> </div>
        <h4>Flat Design</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. Mauris faucibus tellus ac auctor posuere. </p>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="info-img"><%= image_tag 'homepage/img-2.png' %> </div>
        <h4>Great Ideas</h4>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. Mauris faucibus tellus ac auctor posuere. </p>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="info-img"><%= image_tag 'homepage/img-3.png' %> </div>
        <h4>Browser  Compatibility</h4>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. Mauris faucibus tellus ac auctor posuere. </p>
      </div>
    </div>
</div>
</div>
</div>


<!-- Meet our team======================================== -->
<div id="meetourteamSection">
<div class="col-xs-12"><h1 class="cntr">FEATURES</h1>
<p style="color:white;">
• Book More Brides By Measuring Your Progress!<br><br>
• Track Sales, Leads and Goals<br><br>
• Visualize Performance With Graphs<br><br>
• Ensure You Are Staying On Track

</p></div>
<div class="container">	
	
<div class="tabbable tabs">
<div class="tab-content label-primary">

	<div class="tab-pane active" id="all">
	<ul class="thumbnails">
	
		<li class="col-sm-12 col-xs-12">
		</li>
		
			
	</ul>
      <a href="#" class="btn btn-large btn-primary" style="color: #a2a3a3;background-color: #fff;">SHOW MORE</a>

    
	</div>
	
	
	
	

	
	
</div>
</div>
</div>
</div>


<!-- Contact Section -->
<div id="contactSection">
<div class="col-xs-12"><h1 class="cntr">Contact Us</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. Mauris faucibus tellus ac auctor posuere. </p></div>
	<div class="container">	
		<div class="row form-cover">	
		<div class="col-xs-12 ">
			
			<form class="form-horizontal">
				<fieldset>
				  <div class="control-group">
					
					<div class="controls">
					  <input type="text" class="input-xlarge" id="input01" >
					 
					</div>
				  </div>
				   <div class="control-group">
					
					<div class="controls">
					  <input type="text" class="input-xlarge" id="input11">
					 
					</div>
				  </div>
				   <div class="control-group">
					
					<div class="controls">
					  <textarea class="input-xlarge" id="textarea" rows="3" style="height:210px"></textarea>
					</div>
				  </div>
				  
				 
					<button type="submit" class="btn btn-large btn-primary" style="color: #a2a3a3;background-color: #fff;margin-top:30px;">Send Message</button>
					
				</fieldset>
			  </form>
		</div> 
		
		
		</div> 
		</div> 
        
     <div class="footerSection container">
	
       
                <div class=" col-sm-6 socialicon">
                    <a class="facebook" href="http://www.facebook.com/xtendify"></a>
                    <a class="twitter" href="http://www.twitter.com/xtendify"></a>
                    <a class="html5" href="#"></a>
                    <a class="icon2" href="#"></a>
                </div>
                
        
	
		<div class="copyright"><p>  Copyright 2016 | Developed By <a href="http://www.eventtemple.com">Event Temple</a></p></div>
		<!--To remove this copyright notice, please donate via Xtendify at - https://www.xtendify.com/en/product/103-colorful-flat-bootstrap-theme. It will support the development process -->
		
	</div>

        
        
        
</div> 

<!-- Wrapper end -->


<a href="#" class="go-top" ><i class="glyphicon glyphicon-arrow-up"></i></a>


<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/jquery.scrollTo-1.4.3.1-min.js" type="text/javascript"></script>
<script src="js/jquery.easing-1.3.min.js"></script>
<script src="js/default.js"></script>
<script src="js/my_js.js"></script>
<script type="text/javascript">

	$(document).ready(function() {
	$('#myCarousel').carousel({
	  interval: 7000
	});
    $('#toggle-btn').click(function(){
		$('#menu').toggle("fast");
	});
	
	});
</script>
<style>
</style>
</body>
</html>
