<!DOCTYPE html>
<html>
<head>
  <title>Graphs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= javascript_include_tag "highcharts" %>

  <%= csrf_meta_tags %>
</head>
<body>

<body style="background-color: rgb(241, 242, 246);">
	<div class="container">

<%= yield %>

	</div>
</body>

</body>
</html>
