<!DOCTYPE html>
<html>
<head>
  <title>Graphs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= javascript_include_tag "highcharts" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= csrf_meta_tags %>
</head>
<body>

<body style="background-color: rgb(241, 242, 246);">
	<div class="container">

<% if user_signed_in? %>
<%= render 'layouts/header' %>
<% end %>

<%= yield %>
<% flash.each do |name, msg| %>
     <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
<% end %>

	</div>
</body>

</body>
</html>
